## **Diabetes detection** (using SVM)

Importing libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and preprocessing

In [ ]:
# loading dataset to pandas dataframe
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [ ]:
diabetes_dataset.head() # display first 5 rows of dataset

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
diabetes_dataset.shape # display total number of rows and columns

(768, 9)

In [ ]:
diabetes_dataset.describe() # give basic idea about the statistics of the dataset

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
# display the number of data for each class
diabetes_dataset['Outcome'].value_counts() # 0-non diabetic,1-diabetic

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
diabetes_dataset.groupby('Outcome').mean() # group data in class 0 or 1 on the basis of mean

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [ ]:
# separatin data and label
x= diabetes_dataset.drop(columns='Outcome',axis=1) #axis=1 for dropping column, #axis=0 for dropping row
y= diabetes_dataset['Outcome']

In [ ]:
print(x)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [ ]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data standardization- features have different range so change and standardise for a particular range

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(x)

StandardScaler()

In [ ]:
standardized_data = scaler.transform(x) # can also use scaler.fit_transform(x)

In [ ]:
print(standardized_data) # all features will be in the range 0 and 1(standard value)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
x= standardized_data #data
y= diabetes_dataset['Outcome'] #model

In [ ]:
print(x)
print(y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Training and Test data split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y, random_state=2)

In [ ]:
print(x.shape,x_train.shape,x_test.shape)

(768, 8) (614, 8) (154, 8)

In [ ]:
classifier= svm.SVC(kernel= 'linear') # classifier variable for support vector classifier

In [ ]:
classifier.fit(x_train, y_train)

SVC(kernel='linear')

In [ ]:
#accuracy score on training data
x_train_prediction = classifier.predict(x_train)
training_accuracy = accuracy_score(x_train_prediction, y_train)
print('Accuracy score: ',training_accuracy)

Accuracy score:  0.7866449511400652

In [ ]:
# accuracy score on test data
x_test_prediction = classifier.predict(x_test)
testing_accuracy = accuracy_score(x_test_prediction, y_test)
print('Accuracy score: ',testing_accuracy)

Accuracy score:  0.7727272727272727

Predictive System

In [ ]:
input = (3,50,72,33,0,33.3,0.199,24)

#change input to numpy array
input_as_numpy_array = np.asarray(input)

#reshape the array as we are predicting for 1 value(instance)
input_reshaped = input_as_numpy_array.reshape(1,-1)

#standardize the data
std_input = scaler.transform(input_reshaped)
print(std_input)

prediction = classifier.predict(std_input)
print(prediction)

if (prediction[0]==0):
  print('Non diabetic')
else: print('Diabetic')

[[-0.25095213 -2.21879645  0.14964075  0.7818138  -0.69289057  0.165937
  -0.82411882 -0.78628618]]
[0]
Non diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"